table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-column-actions {
    width: 110px;
}


/* [hidden] {
    display: none !important;
} */

h1:hover {
    cursor: pointer;
}