<div class="cv-view" *ngIf="!isUpdateMode">
    <table>
        <tr>
            <td class="trDateFormat"><span class="inBold">{{training?.monthOfStartDate}}/{{training?.yearOfStartDate}} -
                    <span
                        *ngIf="training.finish != null">{{training?.monthOfFinishDate}}/{{training?.yearOfFinishDate}}</span>
                <span *ngIf="training.finish == null">current date</span></span>
            </td>
            <td>
                <span class="inBold" *ngIf="!isEditable">
                    &nbsp;&nbsp;&nbsp;
                    {{training?.enterprise?.name}} - {{training?.title}}
                </span>
                <span *ngIf="isEditable">
                    <button mat-button [matMenuTriggerFor]="menu"><span class="inBold">{{training?.enterprise?.name}} -
                            {{training?.title}}</span></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changeUpdateMode()">
                            <mat-icon>edit</mat-icon>Edit training
                        </button>
                    <button mat-menu-item (click)="delete()">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                </mat-menu>
                </span>
            </td>
        </tr>
        <tr *ngIf='training.description != null && training.description != ""'>
            <td class="trDateFormat"></td>
            <td class="txtUnderTitre">{{training?.description}}</td>
        </tr>
        <tr>
            <td class="trDateFormat"></td>
            <td class="txtUnderTitre"><span *ngIf="training.usings != null ? training.usings.length != 0 : false">Skills :
                    <span *ngFor="let using of training.usings; let isFirst = first"><span *ngIf=!isFirst>,
                        </span>{{using.skill?.name}}</span>
                </span>
            </td>
        </tr>
    </table>
</div>


<div class="cv-edit" *ngIf="isEditable && isUpdateMode">
    <app-training-data-edit [getTraining]="training" [isNew]="false" (updateTrainingInDaddy)="update($event)" (changeUpdateModeInDaddy)="changeUpdateMode()"> </app-training-data-edit>
</div>