<form id="frm" class="form" [formGroup]="frm" novalidate>
    <h1 class="header">{{(!isNew ? 'Edit existing' : 'Add a mission') + ' mission'}}</h1>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="General Data">
            <div class="form">
                <!-- public frm!: FormGroup;
                private ctlId!: FormControl;
                public ctlStart!: FormControl;
                public ctlFinish!: FormControl;
                public ctlTitle!: FormControl;
                public ctlDescription!: FormControl;
                public ctlEnterprise!: FormControl;
                public isNew: boolean; -->

                <mat-form-field>
                    <input matInput placeholder="Title" [formControl]="ctlTitle">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="ctlStart">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Finish date</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="ctlFinish">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error class="field-error" *ngIf="ctlFinish.hasError('finishBiggerThanStartDate')">Must be at least bigger than start date</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description" [formControl]="ctlDescription">
                </mat-form-field>
                <mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Enterprise" [formControl]="ctlEnterpriseId">
                            <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.id">{{ enterprise.name }}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Client" [formControl]="ctlClientId">
                        <!-- <mat-option [value]="0">Pas de client</mat-option> -->
                        <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.id">{{ enterprise.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>

    </mat-tab-group>
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>