<form id="frm" class="form" [formGroup]="frm" novalidate>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="General Data">
            <div class="form">
                <mat-form-field appearance="fill">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="ctlStart">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error class="field-error" *ngIf="ctlStart.hasError('required')">Required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Finish date</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="ctlFinish">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error class="field-error" *ngIf="ctlFinish.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlFinish.hasError('finishDateEarlierThanStartDate')">Must be a later date than start date</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>School / Training center</mat-label>
                    <mat-select [formControl]="ctlEnterpriseId" required>
                        <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.id">{{ enterprise.name }}</mat-option>
                    </mat-select>
                    <!-- <mat-error class="field-error" *ngIf="ctlEnterpriseId.hasError('required')">Required</mat-error> --> <!-- not working-->
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput [formControl]="ctlTitle">
                    <mat-error class="field-error" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput [formControl]="ctlDescription">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Grade</mat-label>
                    <mat-select [formControl]="ctlGrade">
                        <mat-option [value]="0">SummaCumLaude</mat-option>
                        <mat-option [value]="1">MagnaCumLaude</mat-option>
                        <mat-option [value]="2">CumLaude</mat-option>
                    </mat-select>
                    <mat-error class="field-error" *ngIf="ctlEnterpriseId.hasError('required')">Required</mat-error> 
                </mat-form-field>

                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Skills</mat-label>
                    <mat-chip-list #chipList aria-label="Skill selection">
                        <mat-chip *ngFor="let using of trainingUsings" (removed)="removeSkill(using)">
                            {{using.skill!.name!}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                            <!-- <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button> -->
                        </mat-chip>
                        <input placeholder="New skill..." #skillInput [formControl]="skillCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSkill($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event)">
                        <mat-option *ngFor="let skillName of filteredSkills | async" [value]="skillName">
                            {{skillName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="edit()">{{!isNew ? 'Update' : 'Add'}}</button>
        <!-- <button type="submit" *ngIf="!isNew" mat-raised-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">Update</button>
        <button type="submit" *ngIf="isNew" mat-raised-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="add()">Add</button> -->
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>