<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Consultants list">
        <app-consultantlist (addTabCVUser)="addTabCVUser($event)"></app-consultantlist>
    </mat-tab>
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.tabName">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon pr-3 tab-close" (click)="removeTab(index)">close</mat-icon>
            {{tab.tabName}}
        </ng-template>
        <!-- <ng-container *ngComponentOutlet="tab.selector"></ng-container> -->
        <app-cv-view [getUserID]="tab.userID" [isEditable]="false"></app-cv-view>
    </mat-tab>
</mat-tab-group>