<div class="titre">
    <h1>
        <span *ngIf="isEditable" matTooltip="Click to add a training" (click)= changeAddMode()>Trainings</span> 
        <span *ngIf="!isEditable && trainings != null && trainings.length != 0">Trainings</span> 
    </h1>
    <p *ngIf="isEditable && (trainings == null || trainings.length == 0)">You don't have any training. Click on the title "Trainings" to add one.</p>
</div>

<div *ngIf="isEditable && isAddMode">
    <app-training-data-edit [getTraining]="trainingToAdd" [isNew]="true" (addTrainingInDaddy)="add($event)" (changeAddModeInDaddy)="changeAddMode()"></app-training-data-edit> 
</div> 

<div class="cv-view">
    <span *ngFor="let training of trainings">
        <!-- envoyer le composant qui envoie le training dans lequel on a des sous-composants par ligne de catégorie -->
        <app-training-data-view [getTraining]="training" [isEditable]="isEditable" [isNew]="false" (updateTrainingInDaddy)="update($event)" 
         (deleteTrainingInDaddy)="delete(training)"></app-training-data-view> 
    </span>
</div>
<br *ngIf="trainings != null && trainings.length != 0">  