
<div class="cv-edit" *ngFor="let mastering of masterings">
    <!-- <div class="cv-edit" *ngIf="isEditMode" *ngFor="let mastering of masterings"></div> -->
    <app-mastering-edit-row 
        [getMastering]="mastering" [isNew]="false" (deleteMasteringInDaddy)="delete(mastering)" 
        (updateMasteringInDaddy)="update(mastering)" >
        <!-- (addMasteringInDaddy)="add()" -->
    </app-mastering-edit-row>   
    
</div>

<app-mastering-edit-row [getMastering]="undefined" [isNew]="true"> </app-mastering-edit-row> 
