<div>
    <h1>
        <span class="titre" *ngIf="isEditable" title="click to edit" matTooltip="Edit skills" (click)="changeEditMode()">Skills</span>
        <span *ngIf="!isEditable && categories != null && categories.length != 0">Skills</span>
        <!-- <button mat-icon-button *ngIf="isEditable" (click)="changeEditMode()">  
            <mat-icon >edit</mat-icon> 
        </button> -->
    </h1>
    <p *ngIf="isEditable && (categories == null || categories.length == 0)">You don't have any skills. Click on the title "Skills" to add one.</p>
</div>

<div class="cv-view" *ngIf="!isEditMode">
    <!-- <div class="cv-view" *ngIf="categories.length > 0"></div> -->
    <ul *ngFor="let category of categories">
        <li>
            <b>{{category?.name}}:</b> {{category?.displaySkills}}
            <!-- <b>{{category?.name}}:</b> 
            <span *ngFor="let skill of category.skills" >
                <span matBadge="1" >
                    {{skill?.name}}
                </span>
            </span> -->
        </li>
    </ul>
</div>


<div class="cv-edit" *ngIf="isEditMode">
    <app-mastering-edit-form [getUserID]="userCvId" (refreshInDaddy)="refresh()"></app-mastering-edit-form>
    <button mat-raised-button (click)="changeEditMode()">Back to CV</button>
    <!-- <button mat-icon-button (click)="changeEditMode()">  
        <mat-icon >save</mat-icon> 
    </button> -->
</div>
<br *ngIf="categories != null && categories.length != 0">  