<!-- <div class="row"> -->
    <!-- <div class="col-sm-12"> -->
        <!-- <h1>Masterings test</h1> -->
    <!-- </div> -->
<!-- </div> -->

<div class="container" [formGroup]="frm">
    <!-- <h2 class="p">Test</h2> -->

    <!-- <ng-container formArrayName="masteringItems">
        <ng-container *ngFor="let masteringItem of masteringItems.controls; let i = index">
            <div class="mastering-form-row" [formGroup]="masteringForm">
                <mat-form-field appearance="fill">
                    <input matInput
                           formControlName="title"
                           placeholder="Lesson title">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="level"
                            placeholder="Lesson level">
                        <mat-option value="beginner">Beginner</mat-option>
                        <mat-option value="intermediate">Intermediate</mat-option>
                        <mat-option value="advanced">Advanced</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-icon class="delete-btn" (click)="deleteMastering(i)">
                    delete_forever</mat-icon>
            </div>
        </ng-container>
    </ng-container>
  
    <button mat-mini-fab (click)="addMastering()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button> -->


    <form id="frm" class="form" [formGroup]="frm" novalidate>    
        <div class="form-row">
          <div class="form-group col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Skill</mat-label>
                <!-- <input matInput [readonly]="!editable" upperCaseInput placeholder="Nom d'usage" formControlName="lastName"> -->
                <input matInput [formControl]="ctlSkillName" *ngIf="!isNew" readonly>
                <!-- <input matInput [formControl]="ctlSkillName" *ngIf="isNew" > -->
                <!-- <mat-select [formControl]="ctlSkillName" *ngIf="isNew" (valueChange)="skillChange()" > -->
                <mat-select [formControl]="ctlSkillId" *ngIf="isNew" (valueChange)="skillChange()" >
                    <mat-option [value]="1">Starter</mat-option> 
                    <mat-option [value]="2">Junior</mat-option>
                    <mat-option [value]="3">Medior</mat-option>
                    <mat-option [value]="4">Senior</mat-option>
                    <mat-option [value]="5">Expert</mat-option>
                    <!-- <mat-option *ngFor="" [value]="skill.id">Expert</mat-option> -->
                </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput [formControl]="ctlCategoryName" readonly>
            </mat-form-field> 
          </div>
          <div class="form-group col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Level</mat-label>
                <mat-select [formControl]="ctlLevel">
                    <mat-option [value]="1">Starter</mat-option>
                    <mat-option [value]="2">Junior</mat-option>
                    <mat-option [value]="3">Medior</mat-option>
                    <mat-option [value]="4">Senior</mat-option>
                    <mat-option [value]="5">Expert</mat-option>
                </mat-select>
                <!-- <mat-select [formControl]="ctlLevel">
                  <mat-option value="option">Option1</mat-option>
                  <mat-option value="option">Option2</mat-option>
                </mat-select> -->
            </mat-form-field> 
          </div>

          <div class="form-group col-md-3">
            <button mat-icon-button (click)="delete()" >
                <mat-icon >delete</mat-icon>
            </button>
          </div>
        </div>         

        <!-- <div class="footer">
            <button mat-mini-fab >
                (click)="addMastering()" 
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </div> -->

        <!-- <div class="footer">
            <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" >Save</button>
             <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">Save</button>
            <button type="reset" mat-button >Cancel</button>
            <button type="reset" mat-button (click)="cancel()">Cancel</button>
        </div> -->
    </form>

</div>


