<form [formGroup]="frm" novalidate>
    <h1>Sign Up</h1>
    <mat-form-field>
        <input matInput placeholder="Last name" [formControl]="ctlLastName">
        <mat-error class="float-right" *ngIf="ctlLastName.hasError('minlength')">Minimum length is {{ctlLastName.errors?.minlength?.requiredLength}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="First name" [formControl]="ctlFirstName">
        <mat-error class="float-right" *ngIf="ctlFirstName.hasError('minlength')">Minimum length is {{ctlFirstName.errors?.minlength?.requiredLength}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [formControl]="ctlEmail" required appSetFocus>
        <!-- <mat-error class="float-right" *ngIf="ctlEmail.hasError('required')">Required</mat-error> -->
        <mat-error class="float-right" *ngIf="ctlEmail.hasError('minlength')">Minimum length is {{ctlEmail.errors?.minlength?.requiredLength}}
        </mat-error>
        <mat-error class="float-right" *ngIf="ctlEmail.hasError('emailUsed')">This email address is not available </mat-error>
        <mat-error class="float-right" *ngIf="ctlEmail.hasError('badEmailFormat')">Bad email format </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Password" [formControl]="ctlPassword" required autocomplete="new-password">
        <mat-error class="float-right" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlPassword.hasError('minlength')">Minimum length is {{ctlPassword.errors?.minlength?.requiredLength}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" [formControl]="ctlPasswordConfirm" required>
        <mat-error class="float-right" *ngIf="ctlPasswordConfirm.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlPasswordConfirm.hasError('minlength')">Minimum length is {{ctlPasswordConfirm.errors?.minlength?.requiredLength}}
        </mat-error>
    </mat-form-field>
    <div *ngIf="frm.errors && ctlPasswordConfirm.dirty && ctlPasswordConfirm.valid">
        <mat-error class="float-left" *ngIf="frm.hasError('passwordNotConfirmed')">The passwords don't match</mat-error>
    </div>
    <div>
        <button mat-stroked-button (click)="signup()" [disabled]="frm.invalid">Sign Up</button>
    </div>
</form>