<div class="titre">
    <h1>Missions
        <button mat-icon-button *ngIf="isEditable" (click)="changeEditMode()">
            <mat-icon>edit</mat-icon>
        </button>
    </h1>
</div>

<div class="cv-view" *ngIf="!isEditMode">
    <ul *ngFor="let mission of missions">
        <li>
            {{mission.startDate | date:'dd/MM/yyyy'}} - {{mission.finishDate | date:'dd/MM/yyyy'}} ({{mission.enterprise?.name}}): {{mission.title}}, {{mission.description}}, chez {{mission.client?.name}} ( Skills:
            <span *ngFor="let using of mission.usings; let isFirst = first"><span *ngIf=!isFirst>,</span> {{using.skill?.name}}</span>)
        </li>
    </ul>
</div>

<div class="cv-edit" *ngIf="isEditMode">
    <ul *ngFor="let mission of missions">
        <li>
            {{mission.startDate | date:'dd/MM/yyyy'}} - {{mission.finishDate | date:'dd/MM/yyyy'}} ({{mission.enterprise?.name}}): {{mission.title}}, {{mission.description}}, chez {{mission.client?.name}} ( Skills:
            <span *ngFor="let using of mission.usings; let isFirst = first"><span *ngIf=!isFirst>,</span> {{using.skill?.name}}</span>)
            <button mat-icon-button>
                <mat-icon (click)="edit(mission)">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="delete(mission)">delete</mat-icon>
            </button>
        </li>
    </ul>
    <button mat-raised-button (click)="create()">New Mission</button>
</div>