<div class="titre">
    <h1>
        <span *ngIf="isEditable" matTooltip="Click to add a mission" (click)="changeAddMode()">Missions</span>
        <span *ngIf="!isEditable && missions != null && missions.length != 0">Missions</span>
    </h1>
    <p *ngIf="isEditable && (missions == null || missions.length == 0)">You don't have any mission. Click on the title "Missions" to add one.</p>
</div>

<div *ngIf="isEditable && isAddMode">
    <app-mission-data-edit [getMission]="missionToAdd" [isNew]="true" (addMissionInDaddy)="add($event)" (changeAddModeInDaddy)="changeAddMode()"></app-mission-data-edit>
</div>

<div class="cv-view">
    <span *ngFor="let mission of missions">
        <app-mission-data-view [getMission]="mission" [isEditable]="isEditable" [isNew]="false" (updateMissionInDaddy)="update($event)" 
         (deleteMissionInDaddy)="delete(mission)"></app-mission-data-view> 
    </span>
</div>
<br *ngIf="missions != null && missions.length != 0">  