<div class="titre">
    <h1>
        <span *ngIf="isEditable" matTooltip="Click to add a mission" (click)="changeAddMode()">Missions</span>
        <span *ngIf="!isEditable">Missions</span>
    </h1>
</div>

<div *ngIf="isEditable && isAddMode">
    <app-mission-data-edit [getMission]="missionToAdd" [isNew]="true" (addMissionInDaddy)="add($event)" (changeAddModeInDaddy)="changeAddMode()"></app-mission-data-edit>
</div>

<div class="cv-view">
    <span *ngFor="let mission of missions">
        <app-mission-data-view [getMission]="mission" [isEditable]="isEditable" [isNew]="false" (updateMissionInDaddy)="update($event)" 
         (deleteMissionInDaddy)="delete(mission)"></app-mission-data-view> 
    </span>
</div>

<br>