<div class="row">
    <div class="col-sm-12">
        <h1>Experiences</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Description :</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!-- <ul *ngIf="members.length > 0">
            <li *ngFor="let member of members">{{ member.display }}</li>
            
        </ul>
        <p *ngIf="members.length == 0">No members found</p> -->

        <mat-form-field>
            <input matInput (keyup)="filterChanged($event)" [value]="filter" placeholder="Filter" appSetFocus>
        </mat-form-field>

        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>
                <ng-container matColumnDef="enterprise">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise </th>
                    <td mat-cell *matCellDef="let row"> {{row.enterprise.name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
<a href="javascript:void(0)" (click)="test()">test</a>&nbsp;&nbsp;&nbsp;
<div *ngFor="let experience of experiences">
    <p> {{experience.display}}</p>
    <p> {{experience.title}}</p>
</div>
<div class="row mt-3">

</div>