<div class="cv-view" *ngIf="!isUpdateMode">
    <table>
        <tr>
            <td class="trDateFormat"><span class="inBold">{{mission?.monthOfStartDate}}/{{mission?.yearOfStartDate}} -
                <span *ngIf="mission.finish != null">{{mission?.monthOfFinishDate}}/{{mission?.yearOfFinishDate}}</span>
                <span *ngIf="mission.finish == null"> ...</span></span>
            </td>
            <td><span class="inBold" *ngIf="!isEditable">
                    &nbsp;&nbsp;&nbsp;
                    {{mission?.enterprise?.name}} - {{mission?.title}}
                </span>
                <span *ngIf="isEditable">
                    <button mat-button [matMenuTriggerFor]="menu"><span class="inBold">{{mission?.enterprise?.name}} -
                            {{mission?.title}}</span></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changeUpdateMode()">
                            <mat-icon>edit</mat-icon>Edit mission
                        </button>
                    <button mat-menu-item (click)="delete()">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                </mat-menu>
                </span>
            </td>
        </tr>
        <tr *ngIf='mission.description != null && mission.description != ""'>
            <td class="trDateFormat"></td>
            <td class="txtUnderTitre">{{mission?.description}}</td>
        </tr>
        <tr *ngIf="mission.client != null">
            <td class="trDateFormat"></td>
            <td class="txtUnderTitre">Mission accomplished at {{mission?.client?.name}}</td>
        </tr>
        <tr>
            <td class="trDateFormat"></td>
            <td class="txtUnderTitre"><span *ngIf="mission.usings != null ? mission.usings.length != 0 : false">Skills :
                    <!-- <span *ngFor="let using of mission.usings; let isFirst = first"><span *ngIf=!isFirst>, </span>{{using.skill?.name}}</span> -->
                <app-experience-categories-view [getExperience]="mission"> </app-experience-categories-view>
                </span>
            </td>
        </tr>
    </table>
</div>


<div class="cv-edit" *ngIf="isEditable && isUpdateMode">
    <app-mission-data-edit [getMission]="mission" [isNew]="false" (updateMissionInDaddy)="update($event)" (changeUpdateModeInDaddy)="changeUpdateMode()"> </app-mission-data-edit>
</div>